<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chi Tiết Tin Tức</title>
    <link rel="stylesheet" type="text/css" th:href="@{/web/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="body">
<!-- navbar -->
<header>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container ">

                <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                    <a class="navbar-brand" href="#">
                        <img src="https://motchillzzz.com/_ipx/f_webp&s_200x52/logo.png" alt="Ảnh Logo">
                    </a>
                    <div class="navbar-nav">
                        <input type="text" placeholder="Tìm kiếm ...">
                    </div>
                    <div>
                        <a class="nav-link" href="">Đăng Nhập</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</header>



<div class="py-4">
    <div class="container d-">
        <div class="row ">

            <div class="col-2">
                <div class="list-menu h-100">
                    <ul class="list-unstyled  ">
                        <h4 class="ms-2">Danh Mục</h4>
                        <li><a class="text-decoration-none text-reset" th:href="@{/}">Trang Chủ</a></li>
                        <li><a class="text-decoration-none text-reset" th:href="@{/phim-le}">Phim Lẻ</a></li>
                        <li><a class="text-decoration-none text-reset" th:href="@{/series-movie}">Phim Dài tập</a></li>
                        <li><a class="text-decoration-none text-reset" th:href="@{/phim-chieu-rap}">Phim Chiếu Rạp</a></li>
                        <li><a class="text-decoration-none text-reset" href="">Thể loại</a></li>
                        <li><a class="text-decoration-none text-reset" href="">Quốc Gia</a></li>
                        <li><a class="text-decoration-none text-reset" th:href="@{/tin-tuc}">Tin Tức</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-7 py-4">
                <div class="row">
                    <div class="col-12">
                       <div class="title-news pt-2">
                           <h4><th:block th:text="${blog.title}"></th:block> </h4>
                       </div>
                        <div class="publish pt-1 ">

                            <span>
                                by <th:block th:text="${blog.user.name}"></th:block>
                            </span>
                            <span>
                                on <th:block th:text="${blog.publishedAt}"></th:block>
                            </span>
                        </div>
                        <div class="description pt-1">
                            <p><th:block th:text="${blog.description}"></th:block> </p>
                        </div>
                        <div class="content pt-1">
                            <p><th:block th:text="${blog.content}"></th:block> </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between  align-items-center mt-4">
                            <p class="movieSuggestions">Phim Đề Xuất</p>
                        </div>
                    </div>
                </div>
                <div class="movie-Suggestions mb-4"  th:each="movieTop3 : ${top3RatingMovie}">
                    <div class="row" >
                        <div class="col-5">
                            <div class="image-movie ms-1 my-1 ">
                                <img class="w-100 rounded overflow-hidden" th:src="${movieTop3.poster}">
                            </div>

                        </div>
                        <div class="col-7">
                            <div class="title-movieSuggestions">
                                <h6><th:block th:text="${movieTop3.title}"></th:block> </h6>
                                <p><th:block th:text="${movieTop3.relishYear}"></th:block></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
           <div class="col-2"></div>
            <div class="col-10">
                <a href="">Chia Sẻ</a>
            </div>
        </div>
        <hr>
    </div>


</div>











<div class="infomation pt-4">
    <div class="container">
        <div class="row">
            <div class="col-6">

                <div class="information-web py-4">
                    <img src="https://motchillzzz.com/_ipx/f_webp&s_200x52/logo.png" alt="Ảnh Logo">


                    <p class="py-2">
                        Motchill - Xem phim Online Vietsub chất lượng cao miễn phí, nhiều thể loại phim phong phú, đặc sắc, giao diện trực quan, thuận tiện, tốc độ tải nhanh, thường xuyên cập nhật các bộ phim mới.
                    </p>
                </div>
            </div>
            <div class="col-2">
                <div class="selection d-flex justify-content-center">

                    <ul class="list-unstyled">
                        <h4>Thể Loại</h4>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Phim Kinh Dị</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Phim Hài</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Phim Gia Đình</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Phim Hành Động</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Phim Viễn Tưởng</a>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="col-2">
                <div class="selection d-flex justify-content-center">

                    <ul class="list-unstyled">
                        <h4>Quốc Gia</h4>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Việt Nam</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Hàn Quốc</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Nhật Bản</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Trung Quốc</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Mỹ</a>
                        </li>
                    </ul>
                </div>
            </div>




            <div class="col-2">
                <div class="selection d-flex justify-content-center">

                    <ul class="list-unstyled">
                        <h4>Thông Tin</h4>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Giới Thiệu</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Liên Hệ </a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Tin tức</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href=""> Điều Khoản  </a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Khiếu Nại</a>
                        </li>

                    </ul>
                </div>
            </div>








        </div>
    </div>
</div>

<hr style="background-color: white;">




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>